# Entornos virtuales
.venv/
env/
venv/

# Archivos de configuración sensibles
.env

# Archivos de compilación de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de logs
*.log

# Archivos de bases de datos locales
*.sqlite3
*.db

# Archivos de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db